IMGMODE="local"

WIKI="https://pine.gamepedia.com/"

DATAMODE="wiki"
SOURCE="https://pine.gamepedia.com/Interactive_Map"
JSON="https://pine.gamepedia.com/api.php?action=parse&format=json&prop=sections&page=Interactive_Map&section=2&prop=wikitext&origin=*"
