body {
  margin: 0;
}

#map {
  height: 100vh;
}

/* desaturate map, to better see the icons */
#map .leaflet-tile-container {
  filter: saturate(0.8);
}
#map .leaflet-overlay-pane > img {
  filter: saturate(0.6);
}

/* position water behind the map */
#map .leaflet-overlay-pane {
  z-index: 199;
}
#map .leaflet-overlay-pane svg {
  z-index: -1;
}

/* animate the water */
/*#map .leaflet-overlay-pane svg rect {
  animation: water 120s infinite linear;
}
@keyframes water {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(256px, 256px); }
}*/

.pine-mouse-coordinates {
  cursor: default;
  background-color: white;
  font-weight: bold;
  padding: 6px;
}

.pine-marker {
  background-image: url(img/icons/default.png);
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.pine-marker.pine-poi-seen {
  opacity: 0.5;
}

.pine-marker-item
, .pine-marker-npc-quest
, .pine-marker-entrance-quest
, .pine-marker-entrance-vault
{
  background-image: url(img/icons/npc.png);
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.pine-marker-unique-emblem {
  background-image: url(img/icons/emblem.png);
  background-size: 16px 20px;
  width: 16px;
  height: 20px;
}

.pine-marker-unique-keygraphite {
  background-image: url(img/icons/keygraphite.png);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
}

.pine-marker-unique-chest
, .pine-marker-unique-idea
{
  background-image: url(img/icons/chest.png);
  background-size: 16px 11px;
  width: 16px;
  height: 11px;
}

.pine-popup.pine-poi-seen button span {
  display: inline-block;
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
