@import '~icons.scss';

@mixin scaled($sprite, $scale: 0.5) {
  $w: nth($sprite, 7) * $scale;
  $h: nth($sprite, 8) * $scale;
  background-size: $w $h;

  $x: nth($sprite, 3) * $scale;
  $y: nth($sprite, 4) * $scale;

  // mask settings to allow tinting only the opaque pixels
  -webkit-mask-image: url(nth($sprite,  9));
          mask-image: url(nth($sprite,  9));
  -webkit-mask-size: $w $h;
          mask-size: $w $h;
  -webkit-mask-position: $x $y;
          mask-position: $x $y;

  @include sprite((
    nth($sprite,  1) * $scale,
    nth($sprite,  2) * $scale,
    $x,
    $y,
    nth($sprite,  5) * $scale,
    nth($sprite,  6) * $scale,
    $w,
    $h,
    nth($sprite,  9),
    nth($sprite, 10),
  ));
}

#map div.leaflet-marker-pane > div.pine-marker
, #map i.leaflet-panel-layers-icon > i.pine-marker
{
  @include scaled($pine-icon-default);

  // seen
  &.pine-poi-seen {
    opacity: 0.5;
  }

  // unconfirmed
  &.pine-unconfirmed:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.4);
  }

  // item, quest, vault
  &.pine-marker-item
  , &.pine-marker-npc-quest
  , &.pine-marker-entrance-quest
  , &.pine-marker-entrance-vault
  {
    @include scaled($pine-icon-npc);
  }

  // unique
  &.pine-marker-unique {
    // emblem
    &.pine-marker-unique-emblem {
      @include scaled($pine-icon-emblem);
    }
    // keygraphite
    &.pine-marker-unique-keygraphite {
      @include scaled($pine-icon-keygraphite, 10/32);
    }
    // chest, idea
    &.pine-marker-unique-chest
    , &.pine-marker-unique-idea
    {
      @include scaled($pine-icon-chest);
    }
  }
}
