#map div.leaflet-marker-pane > div.pine-marker
, #map i.leaflet-panel-layers-icon > i.pine-marker
{
  background-image: url('../img/icons/default.png');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;

  // seen
  &.pine-poi-seen {
    opacity: 0.5;
  }

  // item, quest, vault
  &.pine-marker-item
  , &.pine-marker-npc-quest
  , &.pine-marker-entrance-quest
  , &.pine-marker-entrance-vault
  {
    background-image: url('../img/icons/npc.png');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }

  // unique
  &.pine-marker-unique {
    // emblem
    &.pine-marker-unique-emblem {
      background-image: url('../img/icons/emblem.png');
      background-size: 16px 20px;
      width: 16px;
      height: 20px;
    }
    // keygraphite
    &.pine-marker-unique-keygraphite {
      background-image: url('../img/icons/keygraphite.png');
      background-size: 10px 10px;
      width: 10px;
      height: 10px;
    }
    // chest, idea
    &.pine-marker-unique-chest
    , &.pine-marker-unique-idea
    {
      background-image: url('../img/icons/chest.png');
      background-size: 16px 11px;
      width: 16px;
      height: 11px;
    }
  }
}
