@import '~icons.scss';

div.leaflet-marker-pane > div.pine-marker {
  // seen
  &.pine-poi-seen {
    #map[data-seen="fade"] & {
      opacity: 0.5;
    }
    #map[data-seen="hide"] & {
      display: none;
    }
  }
  // unseen
  &:not(.pine-poi-seen) {
    #map[data-seen="only"] & {
      display: none;
    }
  }

  // unconfirmed
  &.pine-unconfirmed {
    #map[data-unconfirmed="red"] &
    , #map[data-unconfirmed="only"] & {
      filter: hue-rotate(0deg) !important;
    }
    #map[data-unconfirmed="red"] &:before
    , #map[data-unconfirmed="only"] &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 0, 0, 0.4);
    }
    #map[data-unconfirmed="hide"] & {
      display: none;
    }
  }
  // confirmed
  &:not(.pine-unconfirmed) {
    #map[data-unconfirmed="only"] & {
      display: none;
    }
  }
}

#map div.leaflet-marker-pane > div.pine-marker
, #map i.leaflet-panel-layers-icon > i.pine-marker
{
  @include scaled($pine-icon-default);

  // tint
  @mixin tint($n) {
    @for $i from 0 to $n {
      &.pine-marker-tint.pine-marker-tint-#{$i} {
        filter: saturate(0.8) hue-rotate(($i/$n)*360deg);
      }
    }
  }

  // entrance
  &.pine-marker-entrance {
    // cave
    &.pine-marker-entrance-cave {
      @include scaled($pine-icon-mohlenhill);
      filter: saturate(0) brightness(1.5);
    }
    // mohlenhill
    &.pine-marker-entrance-mohlenhill {
      @include scaled($pine-icon-mohlenhill);
    }
  }

  // food
  &.pine-marker-food {
    // default
    @include scaled($pine-icon-food);
    @include tint(16);
  }

  // item
  &.pine-marker-item {
    @include scaled($pine-icon-equip, 0.6);
  }

  // material
  &.pine-marker-material {
    // default
    @include scaled($pine-icon-material);
    @include tint(10);

    // beagalite
    &.pine-marker-material-beagalite {
      @include scaled($pine-icon-beagalite);
    }
    // dullrock
    &.pine-marker-material-dullrock {
      @include scaled($pine-icon-beagalite);
      filter: hue-rotate(-20deg) brightness(1.2) saturate(0.25);
    }
    // dryclay
    &.pine-marker-material-dryclay {
      @include scaled($pine-icon-gravelmoss);
      filter: hue-rotate(80deg) brightness(2.0) saturate(0.10);
    }
    // gravelmoss
    &.pine-marker-material-gravelmoss {
      @include scaled($pine-icon-gravelmoss);
    }
    // leaniron
    &.pine-marker-material-leaniron {
      @include scaled($pine-icon-beagalite);
      filter: hue-rotate(-20deg) brightness(2.6) saturate(0.25);
    }
    // lunarodos
    &.pine-marker-material-lunarodos {
      @include scaled($pine-icon-lunarodos);
    }
    // sandstone
    &.pine-marker-material-sandstone {
      @include scaled($pine-icon-beagalite);
      filter: hue-rotate(90deg) brightness(2);
    }
    // spystal
    &.pine-marker-material-spystal {
      @include scaled($pine-icon-beagalite, 0.5, 0.7);
      filter: hue-rotate(-60deg) brightness(3);
    }
    // toothstone
    &.pine-marker-material-toothstone {
      @include scaled($pine-icon-beagalite);
      filter: hue-rotate(-20deg) brightness(4.0) saturate(0.25);
    }
  }

  // mechanic
  &.pine-marker-mechanic {
    // default
    @include scaled($pine-icon-mechanic);
    @include tint(5);
  }

  // nest
  &.pine-marker-nest {
    // default
    @include scaled($pine-icon-nest);
    @include tint(4);
  }

  // quest
  &.pine-marker-item-quest
  , &.pine-marker-npc-quest
  , &.pine-marker-entrance-quest
  , &.pine-marker-entrance-vault
  {
    @include scaled($pine-icon-npc);
  }

  // unique
  &.pine-marker-unique {
    // emblem
    &.pine-marker-unique-emblem {
      @include scaled($pine-icon-emblem);
    }
    // keygraphite
    &.pine-marker-unique-keygraphite {
      @include scaled($pine-icon-keygraphite, 10/32);
    }
    // chest, idea
    &.pine-marker-unique-chest
    , &.pine-marker-unique-idea
    {
      @include scaled($pine-icon-chest);
    }
    // journal / book
    &.pine-marker-unique-journal {
      @include scaled($pine-icon-book);
    }
  }
}
