body {
  margin: 0;
}

#map {
  height: 100vh;
  background-color: #fff;

  // layers
  div.leaflet-map-pane {
    // L.tileLayer (3D)
    > div.leaflet-tile-pane {
      filter: saturate(0.8);
    }
  }
}

/* animate the water */
/*#map .leaflet-overlay-pane svg rect {
  animation: water 120s infinite linear;
}
@keyframes water {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(256px, 256px); }
}*/
