html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  background-color: #fff;

  // layers
  div.leaflet-map-pane {
    // L.tileLayer (3D)
    > div.leaflet-tile-pane {
      filter: saturate(0.7);
    }
    // areas
    > div.leaflet-areas-pane > svg {
      cursor: default;
      pointer-events: none;
      filter: saturate(0.8);
      > g > path {
        pointer-events: visiblepainted;
        opacity: 0.6;
        &:hover {
          opacity: 1.0;
        }
      }
    }
  }
}

/* animate the water */
/*#map .leaflet-overlay-pane svg rect {
  animation: water 120s infinite linear;
}
@keyframes water {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(256px, 256px); }
}*/
