body {
  margin: 0;
}

#map {
  height: 100vh;
  // layers
  div.leaflet-map-pane {
    // L.tileLayer (3D)
    > div.leaflet-tile-pane {
      filter: saturate(0.8);
    }
    > div.leaflet-overlay-pane {
      z-index: 199;
      // L.imageOverlay (2D)
      > img {
        filter: saturate(0.6);
      }
      // L.svgOverlay (Water)
      > svg {
        z-index: -1;
      }
    }
  }
}
